out
dist
lib
types
node_modules
.vscode-test/
*.vsix
yarn-error.log
.localization/
package.nls.*.json
bundle.l10n.*.json
package-lock.json
.vs/
/cache/
.DS_Store
/dist/
/out/
/extension/
/upload/
/bin/
/node_modules/
/packages/
/obj/
/mono-debug-*/
*.vsix
*.zip
*.exe
*.exe.mdb
mono-debug.userprefs
npm-debug.log
.vs/
/**/bin/
/**/obj/
/**/packages/
.idea/
*.user
packages/
TestResults/
**/NPM
.npmrc
